---
// astro import
import { Icon } from "astro-icon";
---

<section id="About-us">
  <div>
    <h2>¿Quienes Somos?</h2>
    <div class="wrapper">
        <div class="about-us">
            <picture>
                <source media="(min-width: 700px)" srcset="/img/logo/logo-name.webp 450w" />
                <source media="(max-width: 699px)" srcset="/img/logo/logo-name.webp 800w" />
                <img loading="lazy" src="/img/logo/logo-name.webp" alt="algun logito de imagen aqui" style="max-width: 100%;">
            </picture>
            <div>
                <h3><Icon class="about-us-icon" name="mdi:hammer-wrench" /> Bakkat</h3>
                <p>Somos vendors y gestores comerciales, innovadores en indentificar y materializar soluciones eficientes, sustentables y segurar para apoartar la optimizacion de procesos operativos de nuestros clientes.</p>
                <p>mas texto aqui.</p>
                <h4>algun resumen de los servicios mas importantes (solo titulos)</h4>
                <ul>
                    <li>servicio 1</li>
                    <li>servicio 2</li>
                    <li>servicio 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>

  <div>
    <h2>Especialistas e inovadores en</h2>
    <div class="about-us-wrapper">
      <div class="proposal fade">
        <span class="icon"
          ><Icon
            class="proposal-icon"
            name="mdi:cash-check"
          /></span
        >
        <h3 class="title">Comercialización</h3>
        <p class="description">
          Propositivos e Influyentes, basados en una vinculación estrecha con nuestros clientes, con la finalidad de descubrir e interpretar cada una de las necesidades según las características particulares de cada Operación, declarando vinculación de trazabilidad para asegurar Satisfacción de Cliente esperada.
        </p>
      </div>
      <div class="proposal fade">
        <span class="icon"
          ><Icon
            class="proposal-icon"
            name="mdi:hammer-wrench"
          /></span
        >
        <h3 class="title">Fabricación</h3>
        <p class="description">
          Contamos con la Tecnología, Innovación y Conocimiento, rigurosamente complementados con procesos regulados según a altos estándares y certificaciones internacionales, que aseguran la Fabricación de Productos de alto desempeño que aportan a la Eficiencia,  Disponibilidad Operacional y Gestión de Activos en cada una de las Plantas de Procesamiento de nuestros clientes.
        </p>
      </div>
      <div class="proposal fade">
        <span class="icon"
          ><Icon
            class="proposal-icon"
            name="mdi:heart-flash"
          /></span
        >
        <h3 class="title">Reparación y Recuperación</h3>
        <p class="description">
          Brindamos las mejores Soluciones de Reparación y Recuperación de Componentes, procesos certificados de levantamiento de Condiciones y detección de fallas para asegurar la correcta reparación de componentes, enfocados a la extensión de vida útil de componentes, aportando a la sustentabilidad y reducción de huella de carbono de Nuestros Clientes.
        </p>
      </div>
    </div>
  </div>
  <div class="divider">
    <div class="custom-shape-divider-bottom-1690984327">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none">
        <path
          d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </div>
</section>

<style lang="scss">
    #About-us > div:first-child {
        margin-block-end: 5rem;
    }

    #About-us > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        filter: hue-rotate();


        width: 100%;
        max-width: 1100px;
        margin-inline: auto;
        padding: var(--padding);
    }

    #About-us > div > h3 {
        margin: 0;
        font-size: .875rem;
        color: hsl(var(--important));    

        text-align: center;
    }

    #About-us > div > h2 {
        font-size: 3rem;
        margin-block-start: 0;
        
        text-align: center;
    }

    .wrapper {
        display: flex;
    }

    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        max-height: min-content;
    }

    .about-us img {
        width: 100%;
        height: auto;
        border-radius: .25rem;
    }

    .about-us h3 {
        margin: 0;
    }

    @media only screen and (max-width: 699px) {
        .about-us {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }
    }

    .about-us-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
        gap: var(--padding);
        justify-items: center;
    }

    @media only screen and (max-width: 864px) {
        .about-us-wrapper .proposal:nth-of-type(3) {
            grid-column: 1 / 2 span;
        }
    }

    @media only screen and (max-width: 595px) {
        .about-us-wrapper .proposal:nth-of-type(3) {
            grid-column: 1 / 1;
        }
    }

  .main-picture {
    max-width: 100%;
  }

  .about-us-icon {
    display: inline;
    width: 1.5rem;
    aspect-ratio: 1;
    position: relative;
    top: 3px;
    color: hsl(var(--important));
  }

  .proposal-icon {
    display: block;
    width: 2rem;
    aspect-ratio: 1;
    color: hsl(var(--white));
  }

  #About-us {
    color: hsl(var(--main-dark));
    background-color: hsl(var(--white));
    position: relative;
  }

  #About-us > div:first-child {
    margin-block-end: 5rem;
  }

  #About-us > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: hue-rotate();

    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
    padding: var(--padding);
  }

  #About-us > div > h3 {
    margin: 0;
    font-size: 0.875rem;
    color: hsl(var(--important));

    text-align: center;
  }

  #About-us > div > h2 {
    font-size: 3rem;
    margin-block-start: 0;

    text-align: center;
  }

  .about-us h3 {
    margin: 0;
  }

  @media only screen and (max-width: 699px) {
    .about-us {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }

  .about-us-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: var(--padding);
    justify-items: center;
    margin-block-end: 2rem;
  }

  @media only screen and (max-width: 864px) {
    .about-us-wrapper .proposal:nth-of-type(3) {
      grid-column: 1 / 2 span;
    }
  }

  @media only screen and (max-width: 595px) {
    .about-us-wrapper .proposal:nth-of-type(3) {
      grid-column: 1 / 1;
    }
  }

  .proposal {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 18rem;

    padding: var(--padding);
    border-radius: var(--radius-accent);
    line-height: 1.6;
  }

  .proposal:is(:hover, :focus-visible) {
    background-color: hsl(var(--main-dark), 5%);
  }

  .icon {
    display: grid;
    place-items: center;
    justify-content: center;

    width: calc(var(--padding) + 0.75rem);
    height: calc(var(--padding) + 0.75rem);

    padding: calc(var(--padding) + 0.75rem);
    background-color: hsl(var(--important));
    border-radius: 50%;
  }

  .title {
    text-align: center;
  }

  .divider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100% !important;
  }

  .custom-shape-divider-bottom-1690984327 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1690984327 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
  }

  .custom-shape-divider-bottom-1690984327 .shape-fill {
    fill: #9cb8bc;
  }
</style>
