---
import CallToAction from "./utility/CallToAction.astro";
---

<header id="Home">
    <div class="hero-wrapper">
        <div class="headers-mask">
            <h1 class="important-contrast">Bakkat</h1>
            <h2>INNOVADORES EN COMPONENTES PARA LÍNEAS DE <span class="important-contrast">TRANSPORTE DE MINERAL</span> <span class="important-contrast">Y ELEMENTOS DE ALTO DESEMPEÑO</span> PARA LA INDUSTRIA</h2>
        </div>
        <CallToAction />

        <div class="custom-shape-divider-bottom-1690984327">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
            </svg>
        </div>
</header>

<style>
    /* Header */
    #Home {
        background-image:
            linear-gradient(
                180deg,
                hsl(0, 0%, 0%, 100%) 5%,
                transparent,
                transparent
            ),
            url('/img/hero/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 85%;

        position: relative;
        isolation: isolate;
        z-index: 0;

        min-height: 115vh;
        min-height: 115svh;
    }

    @media (max-width: 760px) {
        #Home {
            background-position: 50% 60%;
        }
    }

    #Home::after {
        content: '';
        position: absolute;
        width: 100%;
        inset: 0;
        background-color: hsl(var(--main-dark));
        z-index: -1;
        opacity: .2;
    }

    .hero-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100svh;
        min-height: 100vh;
        margin: 0 auto;
        text-align: center;
    }

    .hero-wrapper button {
        position: absolute;
    }

    .headers-mask {
        /* display: grid; */
        grid-template-rows: auto 60vh;
    }

    @media (max-width: 760px) {
        .headers-mask {
            padding: 1rem;
        }
    }

    .hero-wrapper h1,
    .hero-wrapper h2 {
        margin: 0;
    }

    .hero-wrapper h1 {
        font-size: clamp(2rem, 1.6154rem + 1.2308vw, 3rem);
    }

    .hero-wrapper h2 {
        font-size: clamp(1.25rem, 0.6154rem + 1.2308vw, 2rem);
        text-wrap: balance;
    }

    .custom-shape-divider-bottom-1690984327 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1690984327 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
    }

    .custom-shape-divider-bottom-1690984327 .shape-fill {
        fill: hsl(var(--white));
    }
</style>